@font-face {
    font-family: "Inter";
    src: url(../fontes/Inter/Inter-VariableFont_slnt\,wght.ttf)
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fontes/Ubuntu/Ubuntu-Medium.ttf)
}
* {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0 auto;
    min-width: 100% 3000px;
    background: #379D1D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    height: 100%;
    width: 200px;
}

nav ul li a {
    color: rgb(185, 255, 185);
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 28px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover{
    color: white;
    font-weight: bold;
}

  
main #osasco h1 {
    font-size: 100px;
    color: #379D1D;
    width: 50vw;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    float: left;
    text-align: center;
    margin: 0;
    margin-top: 200px;
}
  
  main #osasco p {
    font-size: 2vw;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    float: left;
    width: 50vw;
    color:rgb(0, 43, 0);
    display: inline;
    text-align: center;
  }
  
  main #osasco img {
    font-size: 2vw;
    float: right;
    width: 45vw;
    text-align: center;
  }

  main #osasco button {
    background-color:rgb(0, 43, 0);
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 17%;
  }

  main #osasco button:hover {
    background-color: #379D1D;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 17%;
  }

  main #historia h2 {
    font-size: 2vw;
    display: inline-block;
    color: rgb(0, 43, 0);
    margin-top: 150px;
    margin-left: 20px;
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }

  main #historia p {
    color: #379D1D;
    width: 50%;
    text-align: justify;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    margin-left: 20px;
    background-color:rgb(185, 255, 185);
    border-radius: 10px;
  }

  main #imagens img {
    font-size: 2vw;
    padding-left: 10px;
    position: absolute;
    margin-top: 110px;
    margin-left: 700px;
    display: inline-block;
    color: rgb(0, 43, 0);
    
    width: 40vw;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    border: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

footer {
    margin: 0 auto;
    min-width: 100% 3000px;
    background: #379D1D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    margin-top: 30px;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.final {
    margin-right: 200px;
}

footer ul li {
    height: 100%;
}

footer ul li a {
    color: rgb(185, 255, 185);
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

footer ul li a:hover{
    color: white;
    font-weight: bold;
}